/* Styling for the container */
.container {
  text-align: center;
  padding: 50px;
  background-color: #fbfbfb;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the header */
h1 {
  font-size: 2em;
  color: #d32f2f;
  margin-bottom: 20px;
}

/* Buttons styling */
.buttons {
  margin-bottom: 20px;
}

.yes-button, .no-button {
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #d32f2f;
  color: white;
  border: none;
}

.yes-button:hover, .no-button:hover {
  background-color: #c2185b;
}

/* Styling for the GIF container */
.gif_container img {
  max-width: 300px; /* Set a max width */
  height: auto; /* Maintain the aspect ratio */
  margin-top: 20px;
  border-radius: 10px; /* Optional, to round corners */

}
